
<div class="Decorador p-2 text-center">
  Inmuebles disponibles
</div>
<div class="container text-center">
  <div class="row align-items-start m-3">
    <div class="col">
      <a [routerLink]="['/casa', 1]">
        <img src="../assets/imagenes/casa1.webp">
      </a>
    </div>
    <div class="col m-5">
      <h3>Casa en el campo con encanto</h3>
     
    </div>
    
  </div>
  <div class="row align-items-start m-3">
    <div class="col">
      <a [routerLink]="['/casa', 2]">
        <img src="../assets/imagenes/casa2.webp">
      </a>
    </div>
    <div class="col m-3">
      <h3>Moderna casa adosada en zona residencial</h3>
     
    </div>
    
  </div>
  <div class="row align-items-start m-3">
    <div class="col">
      <a [routerLink]="['/casa', 3]">
        <img src="../assets/imagenes/casa3.webp">
      </a>
    </div>
    <div class="col m-3">
      <h3>Acogedora casa de campo con piscina privada</h3>
      
    </div>
    
  </div>
</div>
